<h1>Listing users</h1>

<table>
  <tr>
    <th>Created_by</th>
    <th>First_name</th>
    <th>Lirst_name</th>
    <th>Hash</th>
    <th>Role_id</th>
    <th>Username</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.created_by %></td>
    <td><%= user.first_name %></td>
    <td><%= user.last_name %></td>
    <td><%= user.hash %></td>
    <td><%= user.role_id %></td>
    <td><%= user.username %></td>
    <td><%= link_to 'Show', role %></td>
    <td><%= link_to 'Edit', edit_role_path(role) %></td>
    <td><%= link_to 'Destroy', role, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New User', new_user_path %>
