<p id="notice"><%= notice %></p>

<p>
  <b>Handle:</b>
  <%= @attendee.handle %>
</p>

<p>
  <b>First name:</b>
  <%= @attendee.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @attendee.last_name %>
</p>

<p>
  <b>Phone number:</b>
  <%= @attendee.phone_number %>
</p>

<p>
  <b>Created by:</b>
  <%= @attendee.created_by %>
</p>

<p>
  <b>Code:</b>
  <%= @attendee.attendee_code %>
</p>


<%= link_to 'Edit', edit_attendee_path(@attendee) %> |
<%= link_to 'Back', attendees_path %>
